<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27648018963-4vsouje85q97r27c5u964jh3i0bjsome.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27648018963-4vsouje85q97r27c5u964jh3i0bjsome</string>
	<key>API_KEY</key>
	<string>AIzaSyDQixZlU4qIixesbTv6WLQB5G5OsLbIpSo</string>
	<key>GCM_SENDER_ID</key>
	<string>27648018963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbeas</string>
	<key>PROJECT_ID</key>
	<string>fire-post-bbc75</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-post-bbc75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27648018963:ios:a30b28a127a6718bf28de6</string>
</dict>
</plist>